@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<div class="container text-center mt-5">
    <h1 class="text-danger">¡Ups! Algo salió mal.</h1>
    <h2 class="text-muted fs-5">Ocurrió un error al procesar tu solicitud.</h2>

    <p class="mt-3">
        Lo sentimos, estamos trabajando para resolverlo. <br />
        Por favor intentá más tarde.
    </p>

    <a asp-controller="Home" asp-action="Index" class="btn btn-primary mt-3">
        Volver al inicio
    </a>
</div>