@using DTOs.ViewModels
@model ConsorcioViewModel
@{
    ViewData["Title"] = "Consorcios";
    Layout = "_LogeadoLayout";
}

<section class="flex items-center justify-center p-7 flex-1 bg-gray-50">
    <div class="bg-white shadow-md rounded-xl p-7 w-full max-w-4x1">
        <h1 class="text-2xl font-semibold text-gray-800 mb-6 text-center">Consorcio "@Model.Nombre" - Editando</h1>
        @if (TempData["Error"] != null)
        {
            <div class="bg-red-100 text-red-700 p-3 rounded mb-4">
                @TempData["Error"]
            </div>
        }
        <div class="overflow-x-auto">
            <div class="max-w-6xl mx-auto p-6 bg-white shadow-md rounded-md grid grid-cols-1 md:grid-cols-3 gap-6">

                <form class="md:col-span-2 space-y-4" method="post" asp-action="EditarConsorcio">

                    <input type="hidden" asp-for="Id">

                    <div>
                        <label for="nombre" class="block text-gray-700 font-medium mb-2">Nombre</label>
                        <input type="text" id="nombre" asp-for="Nombre" class="w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500" required>
                        <span asp-validation-for="Nombre" class="text-red-500"></span>
                    </div>

                    <div>
                        <label for="provincia" class="block text-gray-700 font-medium mb-2">Provincia</label>
                        <select asp-for="IdProvincia"
                                class="w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500"
                                asp-items="@(new SelectList(ViewBag.Provincias, "Id", "Nombre"))">

                            <option value="0">Seleccione una provincia</option>
                        </select>

                        <span asp-validation-for="IdProvincia" class="text-red-500"></span>
                    </div>

                    <div>
                        <label for="ciudad" class="block text-gray-700 font-medium mb-2">Ciudad</label>
                        <input type="text" id="ciudad" asp-for="Ciudad" class="w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500" required>
                        <span asp-validation-for="Ciudad" class="text-red-500"></span>
                    </div>

                    <div>
                        <label for="calle" class="block text-gray-700 font-medium mb-2">Calle</label>
                        <input type="text" id="calle" asp-for="Calle" class="w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500" required>
                        <span asp-validation-for="Calle" class="text-red-500"></span>
                    </div>

                    <div>
                        <label for="altura" class="block text-gray-700 font-medium mb-2">Altura</label>
                        <input type="number" id="altura" asp-for="Altura" class="w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500" required>
                        <span asp-validation-for="Altura" class="text-red-500"></span>
                    </div>

                    <div>
                        <label for="diaVenExpensas" class="block text-gray-700 font-medium mb-2">Día de Vencimiento de Expensas</label>
                        <input type="number" id="diaVenExpensas" asp-for="DiaVencimientoExpensas" class="w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500" required>
                        <span asp-validation-for="DiaVencimientoExpensas" class="text-red-500"></span>
                    </div>

                    <div class="flex flex-row gap-4 mt-4">
                        <button type="submit" class="flex-1 bg-blue-600 text-white font-bold py-2 px-4 rounded-md hover:bg-blue-700 transition-colors">Guardar</button>
                        <a asp-controller="Consorcio" asp-action="Index" class="flex-1">
                            <button type="button" class="w-full bg-gray-500 text-white font-bold py-2 px-4 rounded-md hover:bg-gray-600 transition-colors">Cancelar</button>
                        </a>
                    </div>

                </form>

                <div class="flex flex-col items-center justify-center gap-4">
                    <button type="button" class="w-40 bg-blue-600 text-white font-bold py-2 px-4 rounded-md hover:bg-blue-700 transition-colors">Ver Unidades</button>
                    <button type="button" class="w-40 bg-gray-500 text-white font-bold py-2 px-4 rounded-md hover:bg-gray-600 transition-colors">Ver Expensas</button>
                    <button type="button" class="w-40 bg-gray-500 text-white font-bold py-2 px-4 rounded-md hover:bg-gray-600 transition-colors">Ver Gastos</button>
                    <a asp-controller="Consorcio" asp-action="Eliminar" asp-route-id="@Model.Id">
                        <button type="submit" class="w-40 bg-red-600 hover:bg-red-700 text-white font-semibold py-1 px-3 rounded-md transition-colors">
                            Eliminar
                        </button>
                    </a>
                </div>

            </div>
        </div>
    </div>
    
</section>


